html {
  background-color: black;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Times;
  color: #88f;
}

main h2 {
  margin-left: 20px;
}

article {
  border: 1px solid #ccc;
  margin: 20px;
  max-width: 960px;
  padding: 20px;
}

section {
  display: flex;
}

aside {
  border-right: 1px solid gray;
  color: gray;
  margin-right: 20px;
  padding-right: 20px;
}

aside h2 {
  font-size: 120%;
  margin: 5px 0;
}

aside ul {
  padding-left: 10px;
}

aside li {
  list-style: none;
}

article header {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

article header h3 {
  margin: 0;
}
